@model Core.Models.Employee
  @{ ViewData["Title"] = "Insert Page";
 }
<html>
<head>
<link rel="stylesheet" href="~/css/table.css" type="text/css" />
    </head>
    <body>

    <h2 align="center">Insert</h2>
@using (Html.BeginForm()) {
<table align="center">
 <tr>
    <th>@Html.LabelFor(model => model.FirstName)</th>
    <td>@Html.EditorFor(model => model.FirstName)</td>
  </tr>
  <tr>
    <th>@Html.LabelFor(model => model.LastName)</th>
    <td>@Html.EditorFor(model => model.LastName)</td>
  </tr>
  <tr>
    <th>@Html.LabelFor(model => model.Email)</th>
    <td>@Html.EditorFor(model => model.Email)</td>
  </tr>
  <tr>
    <th>@Html.LabelFor(model => model.Address)</th>
    <td>@Html.EditorFor(model => model.Address)</td>
  </tr>
  <tr>
    <th>@Html.LabelFor(model => model.Password)</th>
    <td>@Html.EditorFor(model => model.Password)</td>
  </tr>
  <tr>
    <th>@Html.LabelFor(model => model.DeptId)</th>
    <td>@Html.EditorFor(model => model.DeptId)</td>
  </tr>
  <tr>
    <th>@Html.LabelFor(model => model.ManagerId)</th>
    <td>@Html.EditorFor(model => model.ManagerId)</td>
  </tr>
</table>
<div style="text-align: center;">
<button><input type="submit" value="Insert"/></button>
<button> <a  href="/Employee/ShowAll"> Back </a></button>
</div>
}
</body>
</html>